body {
    min-height: 50vh;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    height: 80px; 
}

.cell {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cell.white {
    background-color: #ffffff; 
}

.cell.black {
    background-color: #4d4d4d;
}

.piece {
    width: 50px;
    height: 50px;
    cursor: grab;
    
}

.captured-zone {
    min-width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
